<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ppwq.dao.CarDao">

    <insert id="addIntoCar" parameterType="car">
        insert into car (uid, cid, sid, color, num, price, createtime, image,checkable)
        values ( #{uid}, #{cid}, #{sid}, #{color}, #{num}, #{price}
               , #{createTime}, #{image},#{checkable})
    </insert>

    <select id="getCar" resultType="car">
        select c.carid      carid,
               c.uid        uid,
               c.cid        cid,
               c.sid        sid,
               c.color      color,
               c.num        num,
               c.createtime createtime,
               c.checkable  checkable,
               g.name       cname,
               s.size       size,
               c.image      cimage,
               c.price      price,
               c.image      image
        from car c,
             commodity g,
             size s
        where c.uid = #{uid}
          and c.sid = s.sid
          and c.cid = g.cid
    </select>

    <delete id="deleteUserCar">
        delete
        from car
        where uid = #{uid}
    </delete>

    <delete id="deleteCar">
        delete
        from car
        where carid = #{carid}
    </delete>

    <update id="updateCar" parameterType="car">
        update car
        set sid       = #{sid},
            num       = #{num},
            checkable = #{checkable}
        where carid = #{carid}
    </update>

    <delete id="deleteOrderCar" parameterType="java.util.Map">
        delete
        from car
        where uid = #{params.uid}
          and cid = #{params.cid}
          and sid = #{params.sid}
    </delete>

</mapper>